* {
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: coral;
}

.libreta{
  margin: 40px;
  /*caractula*/
  width: 250px;
  height: 350px;
  background-color: darkviolet;
  border-radius: 5%;
  /*hojas*/
  box-shadow: 10px 10px #fff;
  /*sombra*/
  filter: drop-shadow(10px 10px 5px);
}

.espiral{
  position: absolute;
  width: 25px;
  height: 5px;
  background-color: green;
  border-radius: 25%;
  top: 43px;
  left: -10px;
  box-shadow: 0px 30px green,
      0px 60px green,
      0px 90px green,
      0px 120px green,
      0px 150px green,
      0px 150px green,
      0px 180px green,
      0px 210px green,
      0px 240px green;
}

.libreta::before{
  content: "";
  position: absolute;
  /*hoyo*/
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  /*hoyo*/
  top:38px;
  left: 5px;
  box-shadow: 0px 30px white,
              0px 60px white,
              0px 90px white,
              0px 120px white,
              0px 150px white,
              0px 150px white,
              0px 180px white,
              0px 210px white,
              0px 240px white;
}

